@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fascinate+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Lilita+One&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,472;1,472&family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Chewy&family=Rubik+Spray+Paint&display=swap');

body {
    background-color: #ffdf5e;
}

.container-AboutUs {
    display: flex;
    background-color: #ffdf5e;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.content-aboutus {
    text-align: left;
    max-width: 64.815vh;
    gap: 20px;
}

.content-aboutus h2 {
    color: black;
    font-family: "Inter", "Manrope", sans-serif;
    font-size: 4.556vh;
    font-weight: 700;
}

.content-aboutus p {
    text-align: left;
    color: black;
    font-weight: 500;
    font-family: "Inter", "Manrope", sans-serif;
}

.container-AboutUs {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .container-AboutUs {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width: 768px) {
    .container-AboutUs {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }

    .content-aboutus {
        width: 44.815vh;
    }

    .content-aboutus h2 {
        color: black;
        font-family: "Inter", "Manrope", sans-serif;
        font-size: 3.556vh;
        font-weight: 700;
    }
}

@media (max-width: 1024px) {
    .container-AboutUs {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
        .content-aboutus {
        width: 44.815vh;
    }
}